<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <commands>
      <command name="webedit:managecontent" type="My.Feature.ManageChildItems.Commands.ManageContent, My.Feature.ManageChildItems" />
    </commands>
  </sitecore>
</configuration>