<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.ManageChildItems" description="Feature.ManageChildItems" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization']" extends="Helix.Feature.Base">
					        <predicate>
						        <include name="$(layer).$(module).CustomEditorButton" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Manage Child Items" />
					        </predicate>
				        </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
